* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-image: url(tem.jpg);
}
.container{
    display:flex;
    height:500px;
    width:800px;
    border:1px solid black;
    margin:auto;
    margin-top:50px;
    box-shadow:15px 15px black;
    border-radius:10px;
}

.form{
    display:flex;
    flex-direction:column;
    width:50%;
    align-items:center;
    background-color:whitesmoke;
}
.form h2{
    font-size:3rem;
    font-family:impact, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:20px;
}
.form h1{
    font-size:1rem;
    font-family:impact;
    margin:40px;
}
.box{
    padding:12px;
    width:65%;
    margin:25px;
    border:1px solid black;
    outline:none;
    border-radius:20px;
}
   
.form a{
    text-decoration:none;
    color:black;
    margin-top:2px;
}
.form a:hover{
    color:red;

}
.side{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color:rgb(61, 9, 9);

}
.side img{
    width:450px;
    height:450px;
}
.btn {
    font-size:24px;
    font-weight: bolder;
    font-family:   sans-serif;
    border-radius:20px;
    border-color: transparent;
    position: relative;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-decoration: none;
    margin: 20px 40px;
    transition: 1s;
    -webkit-box-reflect: below 1px
    linear-gradient(transparent,transparent,rgba(28, 25, 25, 0.267));
  }
  
  .btn:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
  }
  
  .btn::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 400%;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(-0.33s * var(--1));
  }
  
  .btn:hover::before {
    width: 120%;
  }
  
  .btn::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: rgb(13, 73, 112);
    transition: 0.5s;
  }
  
  .btn:hover::after {
    background: var(--clr);
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }